<!DOCTYPE html>
<html>

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    <div class="w3-container">
        <h1>{{channel.title}}</h1>
        <h8>Start time: </h8><b>{{channel.start_date}}</b><br>
        <h8>End time: </h8><b>{{channel.end_date}}</b><br>
        <h8>Channel: </h8><b>{{channel.channel}} ({{channel.channel_type}})</b><br>
        <h8>Description:</h8>
        <p>
            {{channel.description}}
        </p>
       
    </div>